# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS / IDE
.DS_Store
Thumbs.db

# Keep sample/potentially copyrighted notebook private
nestle_hr_assistant_2.ipynb

